{% extends "layout.html" %}
{% block body %}
<form method="post">
<div class="edit-form centered">
    <label for="hebrew">Hebrew</label>
    <input type="text" id="hebrew" name="hebrew" dir="rtl" xml:lang="he" lang="he"/>
    
    <label for="description">Translation</label>
    <input type="text" id="description" name="description"/>

    <label for="category">Grammatical class</label>
    <select name="category" id="category">
      <option value="noun">Noun</option>
      <option value="verb">Verb</option>
      <option value="adjective">Adjective</option>
      <option value="adverb">Adverb</option>
    </select> 
    
    <label for="chapter">Chapter</label>
    <input type="number" id="chapter" name="chapter" min="1"/> 

    <label for="gender">Gender (optional)</label>
    <select name="gender" id="gender">
        <option value="none">N/A</option>
        <option value="masculine">Masculine</option>
        <option value="feminine">Feminine</option>
    </select>

    <label for="plabs">Plural absolute (optional)</label>
    <input type="text" id="plabs" name="plabs" dir="rtl" xml:lang="he" lang="he"/>

    <label for="sgcst">Singular construct (optional)</label>
    <input type="text" id="sgcst" name="sgcst" dir="rtl" xml:lang="he" lang="he"/>

    <label for="plcst">Plural construct (optional)</label>
    <input type="text" id="plcst" name="plcst" dir="rtl" xml:lang="he" lang="he"/>
    
    <br/>
    <button class="flashcard-button">Add to vocabulary</button>
</div>
</form>
{% endblock %}