{% extends "layout.html" %}
{% block body %}
<div class="centered">
<table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="width: 90%; text-align: center;">
        {% if side == 0 %}
        <span xml:lang="he" lang="he" class="flashcard-word">{{ content }}</span>
        {% else %}
        <span xml:lang="he" lang="he">{{ content }}</span>
        {% endif %}
    </td>
    </tr>
    </tbody>
</table>
<table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="text-align: center;">
        <form method="POST">
        <button class="flashcard-button"
            type="submit" name="button_press" value="previous">&#9664;</button>
        </form>
    </td>
    <td style="text-align: center;">
        <form method="POST">
            <button class="flashcard-button"
                type="submit" name="button_press" value="edit">Edit</button>
        </form>
    </td>
    <td style="text-align: center;">
        <form method="POST">
        <button class="flashcard-button"
            type="submit" name="button_press" value="flip">Flip</button>
        </form>
    </td>
    <td style="text-align: center;">
        <form method="POST">
         {% if favorite == 1 %}
         <button class="flashcard-button"
            type="submit" name="button_press" value="unfavorite">Unfavorite</button>
        {% else %}
        <button class="flashcard-button"
            type="submit" name="button_press" value="favorite">Favorite</button>
        {% endif %}
        </form>
    </td>
    <td style="text-align: center;">
        <form method="POST">
            <button class="flashcard-button"
                type="submit" name="button_press" value="next">&#9654;</button>
        </form>
    </td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}