:root {
    --bodybg: #525252;
    --geombg: #2b2b2b;
    --fgtext: white;
    --menu-button-selected: #3b3b3b;
    --submenu-button-selected: #adadad;
    --menu-contents-highlighted: #dddddd;
    --menu-contents-background: white;
    /* --dimtext: #a0a0a0; */
    --splashtext: #696969;
}