/* Drop down menu */

@import "colors.css";

.dropbtn-main {
    background-color: var(--geombg);
    color: var(--fgtext);
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
}

.dropbtn {
    background-color: var(--geombg);
    color: var(--fgtext);
    padding: 16px;
    font-size: 16px;
    border: none;
    min-width: 200px;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fgtext);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: var(--menu-contents-background);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--menu-contents-highlighted);}

/* Show a dropdown menu under a activated dropdown on hover */
.dropdown:hover > .dropdown-content {display: block;}

/* Color of a sub-drop-button */
.dropdown-content .dropbtn {
    background-color: var(--menu-contents-background);
    color: black;
}

.dropdown-content .dropbtn:hover {
    background-color: var(--menu-contents-highlighted);
    color: black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#main-menu:hover {background-color: var(--menu-button-selected);} 
.dropdown:hover > .dropbtn {background-color: var(--submenu-button-selected);} 
