/* See: https://stackoverflow.com/a/7642302 */

@import "style.css";

#ck-button {
    background-color: var(--geombg);
    color: #a0a0a0;
    border: none;
    overflow: visible;
    float: left;
}

#ck-button:hover {
    background: #3b3b3b;
}

#ck-button label {
    float: left;
    padding: 15px 32px;
}

#ck-button label span {
    text-align: center;
    display: table;
}

/* Hide the actual checkbox */
#ck-button label input {
    display: none;
}

#ck-button input:checked + span {
    background-color: #2b2b2b2b;
    color: white;
}