/* See: https://stackoverflow.com/a/7642302 */

@import "colors.css";

#ck-button {
    background-color: var(--geombg);
    color: var(--dimtext);
    border: none;
    overflow: visible;
    float: left;
}

#ck-button:hover {
    background: var(--hover);
}

#ck-button label {
    float: left;
    padding: 15px 32px;
}

#ck-button label span {
    text-align: center;
    display: table;
}

/* Hide the actual checkbox */
#ck-button label input {
    display: none;
}

#ck-button input:checked + span {
    background-color: var(--geombg);
    color: white;
}