@import "colors.css";
@import "dropdown.css";
@import "editform.css";
@import "fonts.css";

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.flashcard-word {
    font-family: 'Keter YG';
    font-size: 900%;
	direction: rtl;
    text-align: right;
    color: white;
}

.flashcard-button {
    background-color: #2b2b2b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
}
.flashcard-button:hover {
    background-color: #3b3b3b;
    border: none;
}

.splash-screen-word {
    font-family: 'Keter YG';
    font-size: 2700%;
    direction: rtl;
    text-align: right;
    color: var(--splashtext);
}

table, th, tr, td, button, tbody {
    background-color: var(--geombg);
    border: none;
}

body {
    background-color: var(--bodybg);
    color: white;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    border: none;
}