@font-face {
    font-family: 'Keter YG';
	src: url('KeterYG-Medium.ttf') format('truetype'),
}

:lang(he) {
    font-family: 'Keter YG';
	direction: rtl;
    text-align: right;
    color: white;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flashcard-word {
    font-family: 'Keter YG';
    font-size: 900%;
	direction: rtl;
    text-align: right;
    color: white;
}

.flashcard-button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table, th, tr, td {
    background-color: #333333;
    border: none;
}

body {
    background-color: rgb(82, 82, 82);
}